<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./css/style.css" />
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    
    <link rel="icon" type="image/x-icon" href="/images/date.ico">

    <title>Date2Color</title>
  </head>
  <body>
    <div id="appbar">
      <h1>Date2Color</h1>
    </div>
    <br />
    <br />
    <div id="app" class="app">
      <div class="center">
        <div class="box" :style="color"></div>
      </div>
      <br />
      <div class="center" id="ins">
        <h4>Inserisci una data:</h4>
      </div>
      <br />
      <div class="center">
        <input class="input" type="text" v-model="day" @input="validateDate" placeholder="GG"/>
        <input class="input" type="text" v-model="month" @input="validateDate" placeholder="MM" />
        <input class="input" type="text" v-model="year" @input="validateDate" placeholder="AA" />
      </div>
      <div class="center" style="margin-top: 10px;">
        <div id="hex-container">
            <h3 id="hex">{{colore}}</h3>
            <p v-if="error" id="error-message">Formato della data non valido</p>
        </div>
    </div>
    </div>

    <script src="js/main.js"></script>
  </body>
</html>
